# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Production build
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/
jest-coverage/

# Logs
*.log
logs/
debug.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp

# Misc
*.orig
*.rej
*.zip
*.tar
*.tgz
